@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    padding: 0px;
    margin: 0px;
}
.main{
    background: none;


    .box-frame{
        display: flex;
    }
    .box-rigth{
         display: flex;
         justify-content: center;
         align-items: center;
         /* padding-left: 200px;
         padding-right: 200px; */
    }
}
.img1{
        height: 600px;
        width: 600px;
        margin-top: 100px;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 350px;
        border-radius: 5px;
}
.box-left{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 80px;
        margin-left: 30px; 
 }
 #he{
   font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-size: 45px;
    font-style: normal; 
    margin: 0px;
    margin-top: 155px;
 }
 #pa{
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
    font-size: 15px;
    color: rgb(83, 82, 82);
    margin: 5px;
 }
 .img2{
    height: 150px;
    width: 150px;
    position: absolute;
    margin-left:-450px;
    padding-bottom: 750px;
    /* z-index: -1; */
    
 }
 .img3{
    height: 250px;
    width: 250px;
    position: absolute;
    margin-left: 600px;
    margin-top: 200px;
 }
 .img4{
    height: 150px;
    width: 150px;
    position: absolute;
    margin-left:530px;
    padding-bottom: 750px;
    /* z-index: -1; */

 }
 .check{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
 }
 .sgin{
padding: 12px 150px 12px 168px;
border-radius:4px;
border: none;
background-color: rgb(191, 136, 243);
margin-left: 10px;
 }
 label{
font-size:16px;
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: normal;
 margin: 5px;
 }
 #Email{
   height: 20px;
   width: 350px;
  padding: 3px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 4px;
 }
 #password{
    height: 20px;
    width: 350px;
   padding: 3px;
   font-size: 15px;
   margin-left: 10px;
   margin-right: 20px;
border-radius: 4px;
}
#pa1{
   font-family: "Poppins", sans-serif;
   font-weight: 300;
   font-size: 15px;
   color: rgb(83, 82, 82);
   margin-top: 5px;
   margin-left: 10px;
}
span{
   color:blueviolet ;
   font-weight: bold ;
}
.border {
   border: 2px solid red;
}

.red {
   color: red;
}
#result1{
    padding-left:200px;
}
#result2{
   padding-left:200px;
}
#EmailSave{
   height: 20px;
   width: 350px;
  padding: 3px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 4px;
 }
 #passwordSave{
    height: 20px;
    width: 350px;
   padding: 3px;
   font-size: 15px;
   margin-left: 10px;
   margin-right: 20px;
border-radius: 4px;
}
#nameSave{
   height: 20px;
   width: 350px;
  padding: 3px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 4px;
 }
 .sginUp{
   padding: 12px 150px 12px 168px;
   border-radius:4px;
   border: none;
   background-color: rgb(191, 136, 243);
   margin-left: 10px;
   margin-top: 10px;
 }
 .main1{
   display: flex;


 }
 .tasker_main{
   background-color:rgba(230, 228, 228, 0.782);
   height: 100vh;
   width: 100%;
 }
 .nav1{
   width: 300px;
   height: 100vh;
   background-color: #ddc71c;
 }
.img5{
   width: 150px;
   height: 150px;
   margin: 80px 50px 10px 70px;
   
}
.task{
   margin-left: 50px;
   margin-top: 15px;
}
.btn1-main{
   padding: 5px 65px;
   border-radius: 5px;
   border: none;
}
#icon{
   margin: 10px 0px 0px 48px;
}
#pa{
   color: rgb(40, 40, 40);
   text-align: center;
   font-size:45px;
   margin: 35px 0px 0px 0px;
   font-family:"Poppins", sans-serif ;
}
.task1{
   margin-top: 20px;
   display: flex;
   gap: 5px;
   width: 250px;
   margin-left: 50px;
   border-radius: 10px;
}
.drop {
   display: inline-block;
   position: relative;
 }
 
 .drop a:hover{
   background-color:#ddd;
 }
 
 .option {
   display: none;
   position: absolute;
   overflow: auto;
   background-color:#fff;
   border-radius:5px;
   box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
   width: 190px;
 }
 
 .drop:hover .option {
   display: block;
 }
 .dropd{
   display: flex;
 }
 .drop a{
   text-decoration: none;
   color: black;
   font-size: 18px;
   padding-top: 11px;
 }
 
 .option a {
   display: flex;
   color: #000000;
   padding: 5px;
   text-decoration: none;
   padding:10px 40px;
   width: 150px;
 }
 
 .option a:hover {
   color: #999696;
   background-color: #ddd;
   border-radius:5px;
 
 }  

.colu{
   font-size: 5px;
}
 .grey{
   background-color: #999696;
   width: 15px;
   height: 15px;
   border-radius: 3px;
 }
 .pink{
   background-color: lightcoral;
   width: 15px;
   height: 15px;
   border-radius: 3px;
 }
 .yellow{
   background-color: sandybrown;
   width: 15px;
   height: 15px;
   border-radius: 3px;
 }
 .blue{
   background-color: deepskyblue;
   width: 15px;
   height: 15px;
   border-radius: 3px;
 }
 .grey , .pink , .yellow , .blue{
  margin-top: 5px;
  margin-right: 8px;
  font-size: 15px;

 }
 .colu4 a{
   margin-right:5px;
}
/* Reset default margin and padding */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.popup-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  margin-bottom: 200px;
  border-radius: 10px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover, .close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.category-options {
  display: none;
  background-color: white;
  border: 1px solid #888;
  padding: 10px;
  cursor: pointer;
}

.category-options .pink {
  background-color: lightcoral;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 10px;
}

.category-options .yellow {
  background-color: sandybrown;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 10px;
}

.category-options .blue {
  background-color: deepskyblue;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 10px;
  margin-top: 2px;
}
.category-options div {
  padding: 5px 10px;
}

.category-options div:hover {
  background-color: #f1f1f1;
}
.optionss{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  border: 2px solid black;
}
.drop3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  font-weight: bold;
}
.todo-button{
  height:25px;
  width: 45%;

}
#btn2{
  height:25px;
  width: 45%;
}

.buttons{
  margin-top: 10px;
  margin-left: 20px;
  }
  #btn1{
    margin-right: 20px;
    padding: 2px 30px 2px 30px;
  }
  #btn2{
    margin-right: 20px;
    padding: 2px 30px 2px 30px;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: column ;
    gap: 15px;
   
}

.todo {
    padding-left:10px ;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
    border-radius: 25px;
}

.todo li {
    flex: 1;
  
}

.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: rgb(93, 93, 92);
    border-radius: 25px;
    margin-right: 5px;
}

.trash-btn {
  border-radius: 25px;
    background: rgb(171, 171, 171);
    margin-right: 5px;
}
.edit-btn{
  border-radius: 25px;
  background: rgb(171, 171, 171);
  height:55px;
  width: 45px;
  border: none;
  
}
.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

.select {
  display: flex;
    color:rgb(255, 200, 0);
    width: 100%;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}
.filter-todo{
  width: 35%;
  margin-left: 50px;
  border-radius: 2rem;
  text-align: center;
  background-color: #ddc71c;
}
.filter-todo option{
  background-color: #ffffff;
  font-size: 17px;
}
.add{
  width: 40%;
  border-radius: 50px;
  margin-left:100px;
  border: none;
  background-color: #ddc71c;
}

/* .select::after {
    content: "\25BC";
    position: absolute;
    background:rgb(255, 200, 0);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
 
}

.select:hover::after {
    background: white;
    color: rgb(255, 200, 0);
} */